.navbar {
	width: 100vw;
	height: 80px;
	background-color: var(--navbar-color);
	color: var(--text-color);
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	align-items: center;
	position: relative;

	ul {
		display: flex;
		list-style-type: none;
		gap: 20px;
		height: 100%;

		select {
			padding: 8px;
			border: none;
			border-radius: 4px;
		}

		li {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				text-decoration: none;
				color: var(--text-color);
			}

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;
				padding: 10px;
				background-color: #fff;
				border: none;
				border-radius: 4px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.dropdown {
		animation: hide-dropdown 200ms linear forwards;
		position: absolute;
		background-color: var(--navbar-color);
		width: 340px;
		min-height: 200px;
		right: 20px;
		border-radius: 4px;
		opacity: 0;
		top: 0px;
		pointer-events: none;
		z-index: -1;
		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: var(--navbar-color);
			right: 25px;
			top: -10px;
			rotate: 45deg;
		}
		&.show {
			animation: show-dropdown 200ms linear forwards;
		}
	}
}
@keyframes show-dropdown {
	0% {
		opacity: 0;
		top: 0;
		pointer-events: none;
		z-index: -1;
	}
	99% {
		opacity: 1;
		top: 100px;
		z-index: -1;
	}
	100% {
		opacity: 1;
		top: 100px;
		pointer-events: all;
		z-index: 1;
	}
}
@keyframes hide-dropdown {
	0% {
		opacity: 1;
		top: 100px;
		pointer-events: all;
		z-index: -1;
	}
	99% {
		opacity: 0;
		top: 0px;
		z-index: -1;
	}
	100% {
		opacity: 0;
		top: 0px;
		pointer-events: none;
		z-index: -1;
	}
}

.select {
	position: relative;
	width: 110px;
	height: 46px;
	&:hover {
		&::before,
		&::after {
			background-color: var(--accent-color);
		}
	}
	&::before {
		content: '';
		position: absolute;
		// background-color: var(--text-color);
		background-color: black;
		top: 22px;
		right: 18px;
		width: 12px;
		height: 2px;
		z-index: 10;
		rotate: 40deg;
		transition: 0.5s;
	}
	&::after {
		content: '';
		position: absolute;
		// background-color: var(--text-color);
		background-color: black;
		top: 22px;
		right: 10px;
		width: 12px;
		height: 2px;
		z-index: 10;
		rotate: -40deg;
		transition: 0.5s;
	}
	input {
		color: var(--text-color);
		color: black;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		border-radius: var(--border-radius);
		padding: 0px 10px;
		// font-size: 16px;
		background-color: var(--select-color);
		box-shadow: var(--shadow-color);
		outline: none;
		border: none;
	}
	.select-content {
		position: absolute;
		top: 70px;
		border-radius: var(--border-radius);
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 0px 10px var(--shadow-color);
		background-color: var(--navbar-color);
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		transition: 0.25s;
		.option {
			padding: 8px 10px;
			cursor: pointer;
			color: var(--text-color);
			// color: black;
			&:hover {
				// background-color: var(--accent-color);
				color: var(--accent-color);
			}
		}
	}
	&.open {
		&::before {
			right: 10px;
		}
		&::after {
			right: 18px;
		}
		.select-content {
			opacity: 1;
			visibility: visible;
		}
	}
}
