.navbar {
	width: 100vw;
	height: 80px;
	background-color: var(--navbar-color);
	color: var(--text-color);
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	align-items: center;

	ul {
		display: flex;
		list-style-type: none;
		gap: 20px;
		height: 100%;

        select {
            padding: 8px;
            border: none;
				border-radius: 4px;
        }

		li {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				text-decoration: none;
				color: var(--text-color);
			}

			button {
				display: flex;
				gap: 5px;
				padding: 10px;
				background-color: #fff;
				border: none;
				border-radius: 4px;

				&:hover {
					cursor: pointer;
				}

			}

		}

	}

}
