@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-bg: white;
    --secondary-bg: ;
    --text-color: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 0.061);
    --navbar-color: rgb(22, 22, 22);
    --border-radius: 4px;
    --accent-color: rgb(38, 143, 24);
    --select-color: rgb(255, 255, 255);
}
body {
    overflow-x: hidden;

}
.App {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section {
    // min-height: calc(100vh - 80px - 120px)
}
@import './_navbar.scss';
@import './_footer.scss';
@import './_products.scss';
@import './_product_page.scss';