* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-bg: ;
    --secondary-bg: ;
    --text-color: white;
    --shadow-color: ;
    --navbar-color: rgb(22, 22, 22);
}
body {
    min-height: 100vh;
    min-width: 100vw;
}
@import './_navbar.scss';