@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-bg: white;
  --secondary-bg: ;
  --text-color: rgb(255, 255, 255);
  --shadow-color: rgba(0, 0, 0, 0.061);
  --navbar-color: rgb(22, 22, 22);
  --border-radius: 4px;
  --accent-color: rgb(38, 143, 24);
  --select-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--navbar-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
  position: relative;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  height: 100%;
}
.navbar ul select {
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.navbar ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li .search-bar {
  display: flex;
  position: relative;
}
.navbar ul li .search-bar .reset-search {
  height: 46px;
  aspect-ratio: 1;
  position: absolute;
  right: 35px;
  background-color: transparent;
  opacity: 0;
  transition: 150ms linear;
}
.navbar ul li .search-bar.open input {
  scale: 1 1;
}
.navbar ul li .search-bar.open .reset-search {
  opacity: 1;
}
.navbar ul li .search-bar .search-btn {
  height: 46px;
  aspect-ratio: 1;
  position: absolute;
  right: -2px;
  box-shadow: -5px 0px 10px var(--shadow-color);
  font-size: 1.1rem;
}
.navbar ul li .search-bar input {
  height: 46px !important;
  border-radius: 4px;
  border: none;
  scale: 0 1;
  transform-origin: right;
  transition: 300ms linear;
  outline: none;
  padding-left: 8px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  position: relative;
}
.navbar ul li button .cart-quantity {
  position: absolute;
  background-color: rgb(177, 40, 40);
  color: white;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
}
.navbar ul li button:hover {
  cursor: pointer;
}
.navbar .dropdown {
  -webkit-animation: hide-dropdown 200ms linear forwards;
          animation: hide-dropdown 200ms linear forwards;
  position: absolute;
  background-color: var(--navbar-color);
  width: 340px;
  min-height: 200px;
  max-height: min(100vh - 120px, 400px);
  right: 20px;
  border-radius: 4px;
  opacity: 0;
  top: 100px;
  pointer-events: none;
  z-index: 1;
}
.navbar .dropdown::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--navbar-color);
  right: 25px;
  top: -10px;
  rotate: 45deg;
}
.navbar .dropdown.show {
  -webkit-animation: show-dropdown 200ms linear forwards;
          animation: show-dropdown 200ms linear forwards;
}
.navbar .dropdown .empty-cart {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .dropdown .cart-items {
  margin-top: 10px;
  overflow: auto;
  max-height: min(100vh - 120px, 300px);
  position: relative;
}
.navbar .dropdown .cart-items::-webkit-scrollbar {
  width: 6px;
}
.navbar .dropdown .cart-items::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
}
.navbar .dropdown .total {
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(179, 179, 179);
  gap: 5px;
}
.navbar .dropdown .total a {
  background-color: #fff;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar .dropdown .total p {
  text-align: right;
}
.navbar .search-results {
  width: min(100vw - 2rem, 800px);
  background-color: var(--navbar-color);
  left: 50%;
  translate: -50%;
  padding: 20px;
  display: grid;
  position: absolute;
  top: 100px;
  gap: 20px;
  z-index: 1;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.navbar .search-results a {
  text-decoration: none;
}
.navbar .search-results .search-item {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .search-results .search-item img {
  width: 50px;
  height: 50px;
}
.navbar .search-results .search-item .price::first-letter {
  color: var(--accent-color);
}

.item {
  position: relative;
  z-index: 10;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgb(56, 56, 56);
}
.item img {
  width: 50px;
  height: 50px;
}
.item .right {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.item .top,
.item .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item--color {
  width: 20px;
  height: 20px;
  background-color: red;
}
.item .controls {
  display: flex;
  gap: 5px;
  /* Firefox */
}
.item .controls input {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  width: 30px;
}
.item .controls input::-webkit-outer-spin-button,
.item .controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.item .controls input[type=number] {
  -moz-appearance: textfield;
}
.item .controls button {
  aspect-ratio: 1/1 !important;
  background-color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.item .controls button:hover {
  cursor: pointer;
}
.item .controls .delete {
  background-color: rgb(196, 77, 77);
}
.item .controls .delete:hover {
  background-color: rgb(206, 50, 50);
}

@-webkit-keyframes show-dropdown {
  0% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes show-dropdown {
  0% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@-webkit-keyframes hide-dropdown {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes hide-dropdown {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.select {
  position: relative;
  width: 105px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select:hover::before, .select:hover::after {
  background-color: var(--accent-color);
}
.select::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 22px;
  right: 16px;
  width: 10px;
  height: 2px;
  z-index: 10;
  rotate: 40deg;
  transition: 0.5s;
}
.select::after {
  content: "";
  position: absolute;
  background-color: black;
  top: 22px;
  right: 10px;
  width: 10px;
  height: 2px;
  z-index: 10;
  rotate: -40deg;
  transition: 0.5s;
}
.select span {
  color: var(--text-color);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 8px 10px;
  background-color: var(--select-color);
  box-shadow: var(--shadow-color);
  outline: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select span::first-letter {
  color: var(--accent-color) !important;
}
.select .select-content {
  position: absolute;
  top: 70px;
  border-radius: var(--border-radius);
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px var(--shadow-color);
  background-color: var(--navbar-color);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s;
  z-index: 2;
}
.select .select-content .option {
  padding: 8px 10px;
  cursor: pointer;
  color: var(--text-color);
}
.select .select-content .option:hover {
  color: var(--accent-color);
}
.select.open::before {
  right: 10px;
}
.select.open::after {
  right: 16px;
}
.select.open .select-content {
  opacity: 1;
  visibility: visible;
}

.footer {
  width: 100vw;
  height: 120px;
  background-color: var(--navbar-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  margin: 20px;
  width: min(100vw - 2rem, 1200px);
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}
.products a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}
.products .product {
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  padding: 10px;
  height: 100%;
}
.products .product img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.products .product .price::first-letter {
  color: var(--accent-color);
}

.single-product-wrapper {
  color: black;
  width: min(100% - 2rem, 800px);
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  box-shadow: 0px 0px 10px var(--shadow-color);
  border-radius: 8px;
  padding: 20px;
}
.single-product-wrapper button {
  background-color: #fff;
  border: 1px solid rgb(125, 125, 125);
}
.single-product-wrapper button:hover {
  cursor: pointer;
}
.single-product-wrapper img {
  height: 400px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-product-wrapper .right-panel {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}
.single-product-wrapper .right-panel h2 {
  font-size: 2.4rem;
  font-weight: normal;
}
.single-product-wrapper .right-panel .price {
  font-size: 1.2rem;
  font-weight: normal;
  color: rgb(0, 0, 0);
  display: flex;
  gap: 10px;
}
.single-product-wrapper .right-panel .price p::first-letter {
  color: var(--accent-color);
}
.single-product-wrapper .right-panel .sizes,
.single-product-wrapper .right-panel .colors {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.single-product-wrapper .right-panel .sizes button,
.single-product-wrapper .right-panel .colors button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product-wrapper .right-panel .sizes button.active,
.single-product-wrapper .right-panel .colors button.active {
  border: none;
  background-color: #000;
  color: white;
}
.single-product-wrapper .right-panel .colors button {
  transition: 300ms linear;
  position: relative;
  overflow: hidden;
  border: none;
}
.single-product-wrapper .right-panel .colors button.active::before {
  top: 0;
  right: 0;
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(12, 12, 12, 0.662);
  border: 1px solid rgb(255, 255, 255);
  transform: rotate(-45deg) translate(50%, 50%);
}
.single-product-wrapper .right-panel .add-to-cart {
  width: 265px;
  padding: 10px;
  transition: 100ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.single-product-wrapper .right-panel .add-to-cart:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.single-product-wrapper .right-panel .add-to-cart:active {
  background-color: var(--accent-color);
  color: white;
}/*# sourceMappingURL=main.css.map */